In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('data.csv')
df.head()

,Unnamed: 0,date,Team_1,Team_2,Winner,Margin,Ground,previous_appearances_team_1,previous_titles_team_1,previous_finals_team_1,previous_semifinals_team_1,Position_team_1,Points_team_1,previous_appearances_team_2,previous_titles_team_2,previous_finals_team_2,previous_semifinals_team_2,Position_team_2,Points_team_2
0,0,4-Jan-10,Bangladesh,Sri Lanka,Sri Lanka,7 wickets,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
1,1,8-Jan-10,Bangladesh,Sri Lanka,Sri Lanka,9 wickets,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
2,2,20-Mar-12,Bangladesh,Sri Lanka,Bangladesh,5 wickets,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
3,3,17-Feb-14,Bangladesh,Sri Lanka,Sri Lanka,13 runs,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
4,4,20-Feb-14,Bangladesh,Sri Lanka,Sri Lanka,61 runs,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76

In [7]:
pd.crosstab([df.Team_1,df.Team_2], df.Winner)

Winner                    Afghanistan  Australia  Bangladesh  England  India  \
Team_1      Team_2
Afghanistan Australia               0          1           0        0      0
            Bangladesh              0          0           1        0      0
            England                 0          0           0        1      0
            India                   0          0           0        0      1
            Pakistan                0          0           0        0      0
...                               ...        ...         ...      ...    ...
West Indies India                   0          0           0        0      7
            New Zealand             0          0           0        0      0
            Pakistan                0          0           0        0      0
            South Africa            0          0           0        0      0
            Sri Lanka               0          0           0        0      0

Winner                    New Zealand  Pakistan  South Africa  Sri Lanka  \
Team_1      Team_2
Afghanistan Australia               0         0             0          0
            Bangladesh              0         0             0          0
            England                 0         0             0          0
            India                   0         0             0          0
            Pakistan                0         2             0          0
...                               ...       ...           ...        ...
West Indies India                   0         0             0          0
            New Zealand             1         0             0          0
            Pakistan                0         8             0          0
            South Africa            0         0             6          0
            Sri Lanka               0         0             0          1

Winner                    West Indies  no result  tied
Team_1      Team_2
Afghanistan Australia               0          0     0
            Bangladesh              0          0     0
            England                 0          0     0
            India                   0          0     0
            Pakistan                0          0     0
...                               ...        ...   ...
West Indies India                   4          1     0
            New Zealand             4          0     0
            Pakistan                4          0     1
            South Africa            2          0     0
            Sri Lanka               1          0     0

[76 rows x 12 columns]