In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
result=pd.read_csv('results.csv')
icc_ranking=pd.read_csv('icc_rankings.csv')
fixtures=pd.read_csv('fixtures.csv')
wc_data=pd.read_csv('World Cup 2019 Dataset.csv')

In [3]:
print(*wc_data.columns, *fixtures.columns, *icc_ranking.columns, *result.columns)

Team Group Previous
appearances Previous
titles Previous
 finals Previous
 rank Round Number Date Location Team_1 Team_2 Group  Result Position Team Points date Team_1 Team_2 Winner Margin Ground

In [4]:
icc_ranking.head()

   Position          Team  Points
0         1       England     125
1         2         India     121
2         3  South Africa     115
3         4   New Zealand     113
4         5     Australia     109

In [5]:
icc_ranking.set_index('Position')

                  Team  Points
Position
1              England     125
2                India     121
3         South Africa     115
4          New Zealand     113
5            Australia     109
6             Pakistan      94
7           Bangladesh      90
8          West Indies      77
9            Sri Lanka      76
10         Afghanistan      63

In [34]:
fixtures.head()

,Round Number,Date,Location,Team_1,Team_2,Group,Result
0,1,30/05/2019,"Kennington Oval, London",England,South Africa,Group A,NaN
1,1,31/05/2019,"Trent Bridge, Nottingham",West Indies,Pakistan,Group A,NaN
2,1,1/6/2019,"Sophia Gardens, Cardiff",New Zealand,Sri Lanka,Group A,NaN
3,1,1/6/2019,"County Ground, Bristol",Afghanistan,Australia,Group A,NaN
4,1,2/6/2019,"Kennington Oval, London",South Africa,Bangladesh,Group A,NaN

In [7]:
wc_data.head()

,Team,Group,Previous \r\nappearances,Previous \r\ntitles,Previous\r\n finals,Previous\r\n semifinals,Current \r rank
0,England,A,11,0,3,5,1
1,South Africa,A,6,0,0,4,3
2,West Indies,A,11,2,3,4,8
3,Pakistan,A,11,1,2,6,6
4,New Zealand,A,11,0,1,7,4

In [8]:
wc_data.columns

Index(['Team', 'Group', 'Previous \r\nappearances', 'Previous \r\ntitles',
       'Previous\r\n finals', 'Previous\r\n semifinals', 'Current \r rank'],
      dtype='object')

In [9]:
wc_data.rename(columns={'Previous \r\nappearances':'previous_appearances', 'Previous \r\ntitles':'previous_titles',
       'Previous\r\n finals':'previous_finals', 'Previous\r\n semifinals':'previous_semifinals', 'Current \r rank':'Position'}, inplace=True)

In [10]:
wc_data.drop(labels=['Group'], axis=1, inplace= True)

In [11]:
wc_data.head()

,Team,previous_appearances,previous_titles,previous_finals,previous_semifinals,Position
0,England,11,0,3,5,1
1,South Africa,6,0,0,4,3
2,West Indies,11,2,3,4,8
3,Pakistan,11,1,2,6,6
4,New Zealand,11,0,1,7,4

In [12]:
result.shape

(996, 6)

In [13]:
for i in result.columns:
    print(result[i].isnull().value_counts(), end='\n\n\n')

False    996
Name: date, dtype: int64


False    996
Name: Team_1, dtype: int64


False    996
Name: Team_2, dtype: int64


False    996
Name: Winner, dtype: int64


False    947
True      49
Name: Margin, dtype: int64


False    996
Name: Ground, dtype: int64

In [14]:
wc_data_1=wc_data.copy()
wc_data_2=wc_data.copy()

In [15]:
wc_data_1=pd.merge(wc_data_1,icc_ranking)
wc_data_2=pd.merge(wc_data_2,icc_ranking)

In [16]:
wc_data_1.rename(columns={'Team':'Team_1' }, inplace=True)
wc_data_2.rename(columns={'Team':'Team_2' }, inplace=True)

In [17]:
wc_data_1.head()

,Team_1,previous_appearances,previous_titles,previous_finals,previous_semifinals,Position,Points
0,England,11,0,3,5,1,125
1,South Africa,6,0,0,4,3,115
2,West Indies,11,2,3,4,8,77
3,Pakistan,11,1,2,6,6,94
4,New Zealand,11,0,1,7,4,113

In [35]:
df=pd.merge(pd.merge(result, wc_data_1, on='Team_1'), wc_data_2, on='Team_2',  suffixes=('_team_1', '_team_2'))

In [36]:
df.head(10)

,date,Team_1,Team_2,Winner,Margin,Ground,previous_appearances_team_1,previous_titles_team_1,previous_finals_team_1,previous_semifinals_team_1,Position_team_1,Points_team_1,previous_appearances_team_2,previous_titles_team_2,previous_finals_team_2,previous_semifinals_team_2,Position_team_2,Points_team_2
0,4-Jan-10,Bangladesh,Sri Lanka,Sri Lanka,7 wickets,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
1,8-Jan-10,Bangladesh,Sri Lanka,Sri Lanka,9 wickets,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
2,20-Mar-12,Bangladesh,Sri Lanka,Bangladesh,5 wickets,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
3,17-Feb-14,Bangladesh,Sri Lanka,Sri Lanka,13 runs,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
4,20-Feb-14,Bangladesh,Sri Lanka,Sri Lanka,61 runs,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
5,22-Feb-14,Bangladesh,Sri Lanka,Sri Lanka,6 wickets,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
6,6-Mar-14,Bangladesh,Sri Lanka,Sri Lanka,3 wickets,Dhaka,5,0,0,0,7,90,11,1,3,4,9,76
7,26-Feb-15,Bangladesh,Sri Lanka,Sri Lanka,92 runs,Melbourne,5,0,0,0,7,90,11,1,3,4,9,76
8,5-Jan-10,India,Sri Lanka,Sri Lanka,5 wickets,Dhaka,11,2,3,6,2,121,11,1,3,4,9,76
9,10-Jan-10,India,Sri Lanka,India,8 wickets,Dhaka,11,2,3,6,2,121,11,1,3,4,9,76

In [37]:
df.to_csv('data.csv')

In [38]:
df.shape

(688, 18)